### Demonstração do Algoritmo de classificação binária

#### Os algoritmos de classificação binária dividem os dados em duas categorias. Esse algoritmos são úteis para problemas que possuem duas repostas que são mutuamente exclusivas, como exemplo perguntas com repostas sim ou não.
#### * A conservação de um determinado alimento durará 3 meses em um ambiente resfriado a 30° celsius? Sim ou Não
#### * O que retorna mais lucro: valor de ajuste de preço ou desconto para o produto?

#### Para realizar o processo de classificação iremos utilizar o algoritmo KNN(K-Nearest Neighbors). O algoritmo KNN classifica novos dados com base em uma medida de similaridade entre seus “vizinhos” mais próximos, ou seja, aqueles que têm características semelhantes às suas.
#### O algoritmo KNN pressupõe que itens semelhantes estão próximos um dos outros, então tenta encaixar o dado em questão nos conjuntos de seus vizinhos. O que vai mudar é o valor de K, a primeira letra da sigla, que vai ser a distância entre o dado e os seus vizinhos. Quanto menor a distância, mais chance de serem mais semelhantes.
#### * Exemplo:

In [1]:
import pandas as pd # biblioteca para manipulação de dados
import matplotlib.pyplot as plt # construção de gráficos

from sklearn import model_selection # Biblioteca com função para divisão dos dados
from sklearn.neighbors import KNeighborsClassifier # Algoritmo KNN
from sklearn.metrics import confusion_matrix # Função para matriz de decisão
from sklearn.metrics import accuracy_score # Função para calculo de acurácia

In [2]:
arquivo_url = "dados.csv"

In [3]:
names = ["Temperatura(C°)", "Pressão(bar)", "Classe"]

In [4]:
df = pd.read_csv(arquivo_url, names=names)

In [6]:
array = pd.DataFrame(df)
array

     Temperatura(C°)  Pressão(bar)  Classe
0          74.043405      6.124853       0
1         275.321247      4.854299       0
2         281.119343      2.655200       1
3         248.928634      4.220856       1
4         184.854345      6.589066       1
..               ...           ...     ...
195       322.439280      4.192454       0
196       351.894223      2.938331       1
197       152.052504      6.326105       0
198       214.694815      4.841906       1
199       227.005391      6.939846       1

[200 rows x 3 columns]